
<div class="container">
  <div class="jumbotron vertical-center">
    <body>
    <background-color :grey>
    </body>
  <h1>
     <center>PlayBot</center>
  </h1>
  <h3>
    <center>Find and track games and TV shows that you are interested in!</center>
  </h3>
</div>
</div>
