<div class="jumbotron vertical-center">
  background-color:grey
<div class="container">
  <h1>
     PlayBot
  </h1>
  <p>
    Find and track your progress on games and TV shows that you are interested in!
  </p>
</div>
</div>
