<div id="push"> </div>
<footer class="footer navbar-fixed-bottom"
  <div class="container">
      <nav>
        <ul>
          <li> <%= link_to "Get in touch", contact_path, class: "active" %></li>
        </ul>
      </nav>
  </div>
</footer>
