<div id="push"> </div>
<footer class="foot navbar-fixed-bottom"
  <div class="container">
    <nav>
      <ul>
        <p>
          <li> <%= link_to "Contact us", contact_path, class: "active" %></li>
        </p>
      </ul>
    </nav>
  </div>
</footer>
